<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ioLink - Smart Home
    </ion-title>
    <ion-progress-bar color="danger" value="0.2">

    </ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Seja bem vindo, {{pessoa ? pessoa.nome + " " + pessoa.sobrenome : visitante}}</p>

    <h3>{{texto}}</h3>

    <ion-text style="color: {{cor}}"><br>
      <h2>Teste de cor</h2>

    </ion-text><br>

    <ion-item>
      <ion-label position="floating">
        Digite aqui seu CPF
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <strong>
      <p>O que eu escrevo o angular me mostra!! {{currentvalue}}</p>
    </strong><br>

    <ion-toggle [(ngModel)]="switch"></ion-toggle>
    <p>Rede Wi-Fi: {{switch ? 'On': 'Off'}}</p>

    <ion-item>
      <ion-label>Jon Snow</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Targaryan</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Arya</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Lannister</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    
    <p>Método de pagamento: {{paymentMethod}}</p>
    <ion-radio-group [(ngModel)]="paymentMethod">
      <ion-item>
        <ion-label>Dinheiro</ion-label>
        <ion-radio slot="start" value="cash"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Débito</ion-label>
        <ion-radio slot="start" value="debito"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Crédito</ion-label>
        <ion-radio slot="start" value="credito"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Sai correndo sem pagar!</ion-label>
        <ion-radio slot="start" value="vazei"></ion-radio>
      </ion-item>

    </ion-radio-group>

    <ion-item>
      <ion-label>Qual será o método de pagamento?</ion-label>
      <ion-select placeholder="Escolha:"> 
        <ion-select-option value="cash">Dinheiro</ion-select-option>
        <ion-select-option value="debito">Débito</ion-select-option>
        <ion-select-option value="credit">Crédito</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="aumentar()">Aumetar</ion-button><br>
    <ion-button (click)="diminuir()">Dimuir</ion-button><br>
    <ion-button (click)="resetar()">Resetar</ion-button>

    <h2>O valor do contador é: {{valorNumerico}}</h2>

  </div>
</ion-content>